@model Tuple<List<Coursework2.Data.Models.GameSession>, List<Coursework2.Data.Models.CurrentQuestion>, List<Coursework2.Data.Models.Questions>, List<Coursework2.Data.Models.Users>, List<Coursework2.Data.Models.CurrentAnswer>, string, string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
</body>
</html>
