@model Tuple<string, string, string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <form method="post" action="/CurrQuestion/CurrQuestionUser">
        <label>Упссс...походу ведущий ещё не начал игру.</label>
        <input type="hidden" name="idGameSession" value="@Model.Item1">
        <input type="hidden" name="idUsers" value="@Model.Item2">
        <input type="hidden" name="idPackage" value="@Model.Item3">
        <button type="submit">Нажмите на кнопку чтобы ещё раз проверить</button>
    </form>
</body>
</html>
