@model Tuple<string, string, List<Coursework2.Data.Models.CurrentQuestion>, string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>@Model.Item3[0].Question</p>
    <form method="post" action="/CurrQuestion/StartTimeQuestions">
        <input type="hidden" name="idGameSession" value="@Model.Item1">
        <input type="hidden" name="idPackage" value="@Model.Item2">
        <input type="hidden" name="idLeading" value="@Model.Item4">
        <button type="submit">Старт отсчёта</button>
    </form>
</body>

</html>
